body
{
background-color: turquoise;
}

h1
{

    color: black;
    background-color: white;
}

#show_sketch
{
    float:right;
}

canvas
{
    border: 5px solid forestgreen;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}
@keyframes example {
    
    from {box-shadow: 1px 1px 48px red;}
    to {box-shadow: 1px 1px 48px darkviolet;}

}


p 
   {
       padding-top: 10px;
       font-size: 25px;
   }